* {
    box-sizing: border-box;
}

/* This will wrap then entire page */
.wrapper {
    width: 1086px;
    margin: 10px auto;

}

/* This creates the background pattern */
body {
    background-color: #269;
    background-image:
        linear-gradient(rgba(255,255,255,.5) 2px, transparent 2px),
        linear-gradient(90deg, rgba(255,255,255,.5) 2px, transparent 2px),
        linear-gradient(rgba(255,255,255,.28) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255,255,255,.28) 1px, transparent 1px);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;

}

/* This sets the specfic look of the headlines on each page */
h1 {

    border-bottom-width: 1px;
    border-bottom-color:rgb(165, 159, 159);
    border-bottom-style: solid;
    color: #45A29E;
}

/* This a set the specific blue color for the brand of all Navbars */
.navbar-brand {
    background-color: #45A29E;
}

/* This sets the color scheme and affixs the footer to the bottom of the page */
.footerMod {
    background-color: #0B0C10;
    padding: 10px 0 0 0;
    border-top-style: solid;
    border-top-width: 6px;
    border-top-color: #45A29E;
  }

  /* This makes the form items shorter */
  form {
      width: 75%;
  }

  /* This is to ensure the project images on the Portfolio page wrap around each other */
  .imageGallery {
      float: left
  }

@media screen and (max-width: 768px) {
    /* This ensure the entire page scales down as the viewport goes down below 768px */
    .wrapper {
    width: 50%;

}


  /* This removes the float from the Portfolio images so they stop floating and each image takes up a full row */
  .imageGallery {
    float: none;
    width: 100%;
}
}

@media screen and (max-width: 400px) {

/* This also ensures the page scales down as the viewport goes down below 400px*/
.wrapper {
  width: 100%;
  margin: 2px auto;

}

  /* This removes the float from the Portfolio images so they stop floating and each image takes up a full row */
  .imageGallery {
    float: none;
    width: 100%;
}

}